<h1>Editar Custo</h1>

<%= render 'form', centro_custo: @centro_custo %>

<%= link_to 'Mostrar', @centro_custo , class: "btn btn-default"%> |
<%= link_to 'Voltar', centro_custos_path, class: "btn btn-default" %>
