<p id="notice"><%= notice %></p>

<div class="panel-body">
  <div class="row">
    <div class="col-lg-6">

      <div class="form-group form-inline">
        <label>Nome:</label>
        <p class="form-control-static">
          <%= @centro_custo.descricao %>
        </p>
      </div>

    </div>
  </div>
</div>
<%= link_to 'Editar', edit_centro_custo_path(@centro_custo), class: "btn btn-default" %> |
<%= link_to 'Voltar', centro_custos_path, class: "btn btn-default" %>
