<h1>Editar Fornecedor</h1>

<%= render 'form', fornecedor: @fornecedor %>

<%= link_to 'Mostrar', @fornecedor, class: "btn btn-default" %> |
<%= link_to 'Voltar', fornecedors_path, class: "btn btn-default" %>
