<h1>Editar Transação</h1>

<%= render 'form', transacao: @transacao %>

<%= link_to 'Mostrar', @transacao, class: "btn btn-default" %> |
<%= link_to 'Voltar', transacaos_path, class: "btn btn-default"%>
